newtst/newtst/Service References/algorithm/algorithm.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PrizeLevel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="weight" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="arrayvalues" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrizeLevelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PrizeLevelResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PrizeLevelSoapIn">
    <wsdl:part name="parameters" element="tns:PrizeLevel" />
  </wsdl:message>
  <wsdl:message name="PrizeLevelSoapOut">
    <wsdl:part name="parameters" element="tns:PrizeLevelResponse" />
  </wsdl:message>
  <wsdl:portType name="algorithmSoap">
    <wsdl:operation name="PrizeLevel">
      <wsdl:input message="tns:PrizeLevelSoapIn" />
      <wsdl:output message="tns:PrizeLevelSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="algorithmSoap" type="tns:algorithmSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PrizeLevel">
      <soap:operation soapAction="http://tempuri.org/PrizeLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="algorithmSoap12" type="tns:algorithmSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PrizeLevel">
      <soap12:operation soapAction="http://tempuri.org/PrizeLevel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="algorithm">
    <wsdl:port name="algorithmSoap" binding="tns:algorithmSoap">
      <soap:address location="http://webservice.wangfan.com/luckydraw/algorithm.asmx" />
    </wsdl:port>
    <wsdl:port name="algorithmSoap12" binding="tns:algorithmSoap12">
      <soap12:address location="http://webservice.wangfan.com/luckydraw/algorithm.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>